.box__weektab {
  display: flex;
  width: 100%;
  padding: 8px;
  background: #f0f4f9;
  font-family: "Pretendard Variable";
  letter-spacing: -0.3px;
  .link__tab {
    font-size: 13px;
    text-align: center;
    color: #444746;
    vertical-align: top;
    font-weight: 600;

    .image__icon {
      font-size: 24px;
      display: block;
      padding: 6px 16px;
      border-radius: 20px;
      transition: 0.4s ease-in-out;
      margin-bottom: 1px;
    }
    &.link__tab--active {
      color: #00639b;
      .image__icon {
        background-color: #00629b2a;
        &.material-symbols-outlined {
          font-variation-settings: "FILL" 1;
        }
      }
    }
    & + .link__tab {
      margin-left: 8px;
    }
  }
}
#container {
  position: absolute;
  top: 72px;
  height: calc(100% - 72px);
  overflow-y: auto;
  width: 100%;
}
