a {
  text-decoration: inherit;
}

button,
label {
  cursor: pointer;
}
.for-a11y,
.forA11y {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
html,
body {
  align-items: start;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
}

li {
  list-style: none;
}
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
}
