.box_detail {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 1680px;
  margin: 0 auto;
  padding: 32px;
  * {
    font-family: "Pretendard Variable", sans-serif;
  }
  .list_poster {
    display: flex;
    overflow: hidden;
    position: relative;
    position: relative;
    width: 310px;
    padding: 32px;
    padding: 0;
    font-size: 0;
    transition: opacity 0.5s ease-in-out;
    flex-shrink: 0;
    white-space: nowrap;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.45) 0%, /* 가장 짙은 바닥 */ rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0) 100%);
      pointer-events: none;
    }
    .swiper-wrapper {
      display: flex;
    }
    .swiper-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 12px !important;
      bottom: 0;
      left: 50%;
      z-index: 100;
      transform: translateX(-50%);
    }
    .swiper-pagination-bullet {
      opacity: 1;
      opacity: 0.4;
      width: 8px;
      height: 8px;
      margin: 0 6px !important;
      border-radius: 8px;
      background: var(--color-white);
      transition: all 0.3s ease;
      box-shadow: 1px 1px 8px #00000079;
    }
    .swiper-pagination-bullet-active {
      opacity: 0.8;
      width: 28px;
    }
    .list-item {
      display: inline-block;
      overflow: hidden;
      position: relative;
      font-size: 14px;
      font-size: 0;
      vertical-align: top;
      flex-shrink: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .box_info {
    width: calc(100% - 342px);
    height: 100%;
    margin-left: 32px;
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;

    .text_title {
      font-size: 28px;
      letter-spacing: -0.5px;
    }
    .text_description {
      margin-top: 12px;
      font-size: 16px;
      color: var(--color-text-primary);
      line-height: 1.68;
      letter-spacing: -0.3px;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      .text_label {
        display: block;
        font-size: 14px;
        font-weight: bold;
        color: var(--color-text-secondary);
        text-transform: capitalize;
      }
      .text_tag {
        padding: 0px 10px;
        background: var(--color-accent-rose);
        border-radius: 4px;
        color: var(--color-white);
        font-size: 12px;
        display: inline-block;
        vertical-align: top;
        box-shadow: 0 0 5px rgba(var(--dimmed-RGB), 0.1);
        + .text_tag {
          margin-left: 4px;
        }
      }
    }
    & + .box_info {
      width: 100%;
      margin-top: 24px;
      margin-left: 0;
      border-top: 1px dashed var(--color-line);
    }
  }
}
