.list_review {
  display: flex;
  flex-wrap: wrap;
  max-width: 1680px;
  margin: 0 auto;
  padding: 32px;
  gap: 12px;
  .list-item {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: calc(33% - 7px);
    font-size: 14px;
    font-family: "Pretendard Variable", sans-serif;
    vertical-align: top;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -14px;
      z-index: 10;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background: var(--color-bg);
      transform: translateY(-50%);
      pointer-events: none;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -14px;
      z-index: 10;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background: var(--color-bg);
      transform: translateY(-50%);
      pointer-events: none;
    }
    .button_bookmark {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: calc(150% + 10px);
      font-size: 0;
      .icon {
        margin: 0;
        padding: 0;
        font-size: 21px;
      }
      &.active {
        .icon {
          font-variation-settings: "FILL" 1;
        }
      }
    }
    .box_type-label {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      padding: 5px 10px;
      background: rgba(var(--dimmed-RGB), 0.3);
      font-size: 12px;
      font-weight: 500;
      color: var(--color-white);
      letter-spacing: -0.1px;
    }
    .box_thumnail {
      overflow: hidden;
      position: relative;
      width: 100%;
      border-radius: 4px;
      background: rgba(var(--dimmed-RGB), 0.3);
      background-size: 100% 100%;
      .empty {
        opacity: 0.5;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 24px;
        font-weight: 800;
        transform: translate(-50%, -50%);
        pointer-events: none;
      }
      &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 50%;
        transition: padding 0.2s;
      }
      &::after {
        opacity: 0.1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-image: url("../assets/image/Noise_Texture.png");
        pointer-events: none;
        filter: contrast(80%);
      }
    }
    .image_poster {
      opacity: 0.65;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.2s ease-in-out;
      object-fit: cover;
      filter: grayscale(100%) contrast(65%);
    }
    .box_info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      padding: 0 20px;
      color: var(--color-text-primary);
      color: var(--color-white);
      line-height: 1.25;
      text-align: center;
      transform: translate(-50%, -50%);
      transition: 0.2s;
      white-space: wrap;
      .box__highlight {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: -1.5px;
          width: calc(100% + 3px);
          height: 100%;
          background: var(--color-accent-rose-light);
          transform: translateY(-50%);
          transition: 0.2s ease-in-out;
          box-shadow: inset 7px 0 4px -4px var(--color-accent-rose-light), inset -7px 0 4px -4px var(--color-accent-rose-light);
        }
      }
      .text_title {
        opacity: 0.8;
        font-size: 16px;
        letter-spacing: -0.5px;
      }
      .text_title-sub {
        display: -webkit-box;
        overflow: hidden;
        margin-top: 32px;
        font-size: 4vw;
        font-family: "Herr Von Muellerhoff", cursive;
        color: var(--color-white);
        line-height: 0.7;
        text-shadow: 0.5px 0.5px 0px var(--color-white);
        letter-spacing: 1px;
        text-transform: lowercase;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;
      }
      .text_detail {
        display: -webkit-box;
        overflow: hidden;
        opacity: 0.7;
        width: 100%;
        margin-top: 30px;
        font-size: 13px;
        line-height: 1;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        .text_num {
          + .text_num {
            margin-left: 6px;
            padding-left: 6px;
            border-left: 1px solid var(--color-line);
          }
        }
      }
    }
    &:hover {
    }
  }
}
