.box_sidebar {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 16px;
  z-index: 99;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.08)), rgba(255, 255, 255, 0.25);
  transition: all 0.3s ease;
  backdrop-filter: blur(18px) saturate(150%);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 4px 14px rgba(0, 0, 0, 0.4);
  &:hover {
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.08)), rgba(255, 255, 255, 0.3);
    transform: translateY(-2px);
    box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.3), 0 6px 18px rgba(0, 0, 0, 0.5);
  }
  .button_menu {
    padding: 24px 32px;
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-text-primary);
    line-height: 24px;
    transition: 0.2s;
    flex-shrink: 0;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 12px rgba(176, 138, 138, 0.2);
    a {
      color: var(--color-text-primary);
    }
    .icon {
      font-size: 18px;
      line-height: 24px;
      font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    }
  }
  .list {
    display: flex;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    max-width: 0;
    padding: 24px 0;
    transition: all 0.25s ease-in-out;
    gap: 24px;
    &::before {
      content: "";
      display: inline-block;
      height: 20px;
      vertical-align: top;
      width: 1px;
      background: var(--color-overlay);
    }
    &.active {
      opacity: 1;
      max-width: 500px; /* 적당한 확장 폭 */
      padding: 24px;
    }
    .list-item {
      font-size: 14px;
      text-transform: capitalize;
      white-space: nowrap;
      .link {
        opacity: 0.6;
        color: inherit;
        text-decoration: none;
        transition: all 0.2s ease;
        &:hover {
          opacity: 0.9;
        }
        &.active {
          opacity: 1;
          font-weight: bold;
          color: var(--color-text-primary);
        }
      }
    }
  }
  &.active {
    .list {
      opacity: 1;
      max-width: 500px;
      padding-right: 24px;
    }
  }
}
