@import "./css/sidebar.css";
@import "./css/search_list.css";
@import "./css/review_list.css";
@import "./css/bookmark_list.css";
@import "./css/boxoffice_list.css";
@import "./css/detail.css";

.box_footer {
  margin-top: 32px;
  padding: 32px;
  color: var(--color-text-primary);
  border-top: 1px solid var(--color-line);
  .text_logo {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -1px;
  }
  .text_description {
    margin-top: 14px;
    font-size: 14px;
    color: var(--color-text-secondary);
    line-height: 1.6;
    letter-spacing: -0.1px;
  }
}
.box_container {
  min-height: 100vh;
  background: var(--color-bg);
}
.box_content-heading {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  padding-bottom: 0;
  .text_heading1 {
    font-size: 38px;
    color: var(--color-text-primary);
    letter-spacing: -0.4px;
    .text {
      display: block;
      font-size: 24px;
      font-weight: normal;
      color: var(--color-text-secondary);
    }
  }
  .react-calendar {
    width: 230px;
    border: 0;
    background: none;
    font-family: "Pretendard Variable", sans-serif;
    color: var(--color-text-primary);
    .react-calendar__navigation {
      height: auto;
      margin-bottom: 8px;
      font-weight: bold;
    }
    .react-calendar__tile {
      padding: 6px 0;
      font-size: 14px;
      font-weight: 500;
      color: var(--color-text-secondary);
      transition: 0.2s;
      &.react-calendar__month-view__days__day {
        border-radius: 50%;
      }
      &.react-calendar__decade-view__years__year {
        position: relative;
        letter-spacing: -0.2px;
        &::before {
          opacity: 0;
          content: "";
          position: absolute;
          top: 50%;
          left: -5px;
          width: 0;
          height: 100%;
          background: var(--color-accent-rose-light);
          transform: translateY(-50%);
          transition: 0.2s ease-in-out;
          box-shadow: inset 7px 0 4px -4px var(--color-accent-rose-light), inset -7px 0 4px -4px var(--color-accent-rose-light);
        }
        &:hover {
          &::before {
            opacity: 0.7;
            width: calc(100% + 10px);
          }
        }
        &.react-calendar__tile--hasActive,
        &.react-calendar__tile--now {
          background: none;
        }
        &.react-calendar__tile--hasActive {
          position: relative;
          abbr {
            font-weight: bold;
            color: var(--color-text-primary);
            &::before {
              opacity: 1;
              width: calc(100% + 10px);
            }
          }
        }
      }
      &.react-calendar__year-view__months__month {
        letter-spacing: -0.2px;
        abbr {
          position: relative;
          &::before {
            opacity: 0;
            content: "";
            position: absolute;
            top: 50%;
            left: -5px;
            width: 0;
            height: 100%;
            background: var(--color-accent-rose-light);
            transform: translateY(-50%);
            transition: 0.2s ease-in-out;
            box-shadow: inset 7px 0 4px -4px var(--color-accent-rose-light), inset -7px 0 4px -4px var(--color-accent-rose-light);
          }
        }
        &:hover {
          abbr {
            &::before {
              opacity: 0.7;
              width: calc(100% + 10px);
            }
          }
        }
        &.react-calendar__tile--hasActive,
        &.react-calendar__tile--now {
          background: none;
        }
        &.react-calendar__tile--hasActive {
          position: relative;
          abbr {
            font-weight: bold;
            color: var(--color-text-primary);
            &::before {
              opacity: 1;
              width: calc(100% + 10px);
            }
          }
        }
      }
    }
    .react-calendar__tile:disabled {
      opacity: 0.3;
      background: none;
      text-decoration: line-through;
      cursor: not-allowed;
    }
    .react-calendar__tile--active {
      opacity: 1;
      background: var(--color-accent-rose-light) !important;
      font-weight: bold;
      color: var(--color-text-primary);
    }
    .react-calendar__month-view__days__day--weekend {
      color: var(--color-accent-rose);
    }
    .react-calendar__month-view__weekdays {
      display: none !important;
    }
    .react-calendar__navigation__arrow {
      display: none;
    }
    .react-calendar__month-view__days__day--neighboringMonth {
      opacity: 0.4;
    }
  }
}
.box_date {
  margin-top: 16px;
  text-align: center;
  .text_date {
    padding: 0 8px;
    font-size: 21px;
    font-weight: bold;
    color: var(--color-text-primary);
    line-height: 28px;
    vertical-align: top;
    text-transform: uppercase;
  }
  .button {
    line-height: 28px;
    .icon {
      color: var(--color-text-primary);
    }
  }
}
.box_filter {
  display: inline-block;
  position: relative;
  z-index: 20;
  width: 120px;
  .button_label {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    background: rgba(var(--dimmed-RGB), 0.2);
    font-size: 13px;
    color: var(--color-text-primary);
    line-height: 22px;
    text-transform: capitalize;
    .icon {
      position: absolute;
      right: 10px;
      font-size: 18px;
      line-height: 22px !important;
    }
  }
  .list_filter {
    overflow: hidden;
    opacity: 0;
    position: absolute;
    top: 46px;
    left: 0;
    z-index: 100;
    width: 100%;
    max-height: 0;
    border: 1px solid rgba(var(--dimmed-RGB), 0.2);
    border-radius: 4px;
    background: rgba(var(--color-bg-RGB), 0.5);
    font-size: 14px;
    transition: all 0.6s;
    transition: all 0.3s ease;
    backdrop-filter: blur(18px) saturate(150%);
    &.active {
      opacity: 1;
      max-height: 500px;
    }
    .list-item {
      & + .list-item {
        border-top: 1px solid rgba(var(--dimmed-RGB), 0.2);
      }
    }
    .button_option {
      display: inline-block;
      width: 100%;
      padding: 10px 16px;
      font-size: 13px;
      color: var(--color-text-primary);
      transition: 0.2s;
      text-transform: capitalize;
      &:hover {
        color: var(--color-text-primary);
      }
    }
  }
}
.box_pagination {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-top: 36px;
  text-align: center;
}
.box_search-wrap {
  display: flex;
  align-items: center;
  border: 1px solid rgba(var(--dimmed-RGB), 0.1);
  border-radius: 25px;
  background: rgba(var(--dimmed-RGB), 0.05);
  .from_search {
    width: 100%;
    .box_search {
      display: flex;
      justify-content: center;
      .box_input {
        display: flex;
        position: relative;
        border-radius: 4px;
        .box_filter {
          display: inline-block;
          flex-shrink: 0;
          .button_label {
            background: none;
          }
        }
        .form_input {
          width: 300px;
          padding: 10px;
          border: 0;
          background: none;
          font-size: 14px;
          color: var(--color-text-primary);
          &:focus {
            outline: none;
          }
        }
      }
      .button_submit {
        margin: 5px;
        padding: 0 8px;
        border-radius: 25px;
        font-size: 13px;
        color: var(--color-text-primary);
        line-height: 20px;
        .icon {
          font-size: 24px;
        }
      }
    }
  }
}
.box_header-wrap {
  width: 100%;
  min-height: 72px;
}
.box_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: relative;
  top: 0;
  z-index: 1000;
  max-width: none;
  width: calc(100% - 64px);
  margin-left: 32px;
  padding: 16px 0;
  color: var(--color-text-primary);
  transition: all 0.2s, padding 0s, border 0s;
  *:not(.material-symbols-outlined) {
    font-family: "Pretendard Variable", sans-serif;
  }
  &::after {
    opacity: 0.2;
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: var(--color-text-primary);
  }
  .logo {
    font-size: 32px;
    a {
      color: var(--color-text-primary);
    }
  }
  .box_header-date {
    position: absolute;
    left: 50%;
    font-size: 0;
    transform: translateX(-50%);
    .text {
      opacity: 0.9;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: -0.2px;
      b {
        font-weight: bold;
      }
    }
  }
  .list_nav {
    font-size: 0;
    .list-item {
      display: inline-block;
      position: relative;
      & + .list-item {
        margin-left: 12px;
      }
      .icon {
        font-size: 29px;
        color: var(--color-text-primary);
        vertical-align: top;
        transition: 0.2s;
      }
      .box_info {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: calc(100% + 3px);
        left: 50%;
        z-index: 1000;
        padding: 2px 6px 3px;
        border-radius: 3px;
        background: var(--color-accent-rose-light2);
        font-size: 12px;
        color: var(--color-white);
        transform: translateX(-50%);
        transition: 0.2s;
        &::after {
          content: "";
          position: absolute;
          top: -4px;
          left: 50%;
          z-index: -1;
          height: 0;
          color: var(--color-accent-rose-light2);
          transform: translateX(-50%);
          border-bottom: 4px solid;
          border-left: 3px solid rgba(var(--dimmed-RGB), 0);
          border-right: 3px solid rgba(var(--dimmed-RGB), 0);
        }
      }
      &:hover {
        .icon {
          color: var(--color-accent-rose);
        }
        .box_info {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .item-search {
      transition: padding 0, 0.2s;
      form {
        display: inline-block;
      }
      .input_mini-search {
        overflow: hidden;
        width: 0px;
        margin-top: 10px;
        border: 0;
        background: none;
        color: var(--color-text-primary);
        vertical-align: top;
        transition: 0.2s;
        outline: none;
      }
      &.active {
        padding: 0 8px;
        border: 1px solid rgba(var(--dimmed-RGB), 0.15);
        border-radius: 20px;
        background: rgba(var(--dimmed-RGB), 0.05);
        .input_mini-search {
          width: 200px;
          margin-left: 12px;
          padding-left: 12px;
          border-left: 1px solid rgba(var(--dimmed-RGB), 0.2);
          caret-color: var(--color-accent-rose);
          &::placeholder {
            opacity: 0.5;
            color: var(--color-text-primary);
          }
        }
        .icon {
          color: var(--color-text-primary);
        }
        .box_info {
          display: none;
        }
      }
    }
  }
  &.fixed {
    position: fixed !important;
    top: 16px;
    left: 16px;
    z-index: 100;
    margin-left: 0;
    width: calc(100% - 32px);
    padding: 16px 32px;
    background: rgba(var(--color-bg-RGB), 0.25);
    backdrop-filter: blur(6px) saturate(160%);
    -webkit-backdrop-filter: blur(14px) saturate(160%);
    border: 1px solid rgba(var(--dimmed-RGB), 0.05);
    outline: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1), inset 0 0 0 9999px rgba(255, 255, 255, 0.01);
    &::after {
      content: none;
    }
    
  }
}
.box_main {
  display: flex;
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100vh;
  *:not(.material-symbols-outlined) {
    font-family: "Pretendard Variable", sans-serif;
  }
  .box_header {
    position: absolute;
  }
  .video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .text_script {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 34px;
    font-weight: 300;
    color: var(--color-white);
    line-height: 1.6;
    transform: translate(-50%, -50%);
    letter-spacing: -0.01em;
    .text_count {
      display: inline-block;
      padding: 6px 12px;
      border: 1px solid var(--color-accent-rose-light2);
      border-radius: 25px;
      background: var(--color-accent-rose-light);
      font-size: 18px;
      font-weight: 600;
      line-height: 1;
      vertical-align: top;
      transform: translate(-13px, -3px);
      box-shadow: var(--boxshadow);
    }
  }
  .text_scroll {
    opacity: 0.8;
    position: absolute;
    right: 24px;
    bottom: 24px;
    font-size: 14px;
    font-weight: 300;
    color: var(--color-white);
    line-height: 28px;
    text-transform: capitalize;
    .icon {
      margin-left: 8px;
      font-size: 18px;
      vertical-align: top;
    }
  }
  &::after {
    opacity: 0.05;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-image: url("assets/image/Noise_Texture.png");
    pointer-events: none;
  }
}
.button_them-mode {
  overflow: hidden;
  opacity: 0.7;
  position: fixed;
  right: 32px;
  bottom: 32px;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(var(--dimmed-RGB), 0.05);
  border-radius: 50%;
  background: rgba(var(--dimmed-RGB), 0.4);
  color: var(--color-bg);
  line-height: 50px;
  text-align: center;
  transition: 0.2s;
  backdrop-filter: blur(4px) saturate(150%);
  box-shadow: var(--boxshadow);
  &:hover {
    opacity: 1;
    bottom: 36px;
  }
  .icon {
    line-height: 50px;
    vertical-align: top;
  }
}
.darkmode {
  .button_them-mode {
    transform: rotate(180deg);
  }
}
