.box_heading {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  padding-bottom: 0;
  .text_heading1 {
    font-size: 32px;
    letter-spacing: -0.4px;
    .text {
      display: block;
      font-size: 21px;
      font-weight: normal;
    }
  }
  .react-calendar {
    width: 240px;
    border: 0;
    background: none;
    font-family: "Pretendard Variable", sans-serif;
    .react-calendar__navigation {
      height: auto;
      margin-bottom: 8px;
      font-weight: bold;
    }
    .react-calendar__tile {
      padding: 6px 4px;
      border-radius: 50%;
    }
    .react-calendar__tile:disabled {
      background: none;
    }
    .react-calendar__month-view__weekdays {
      display: none !important;
    }
    .react-calendar__navigation__arrow {
      display: none;
    }
  }
}
.box_date {
  margin-top: 24px;
  text-align: center;
  .text_date {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.list_box-office {
  overflow: hidden;
  margin-top: 16px;
  padding: 32px;
  white-space: nowrap;
  .list-item {
    display: inline-block;
    overflow: hidden;
    width: 310px;
    font-size: 14px;
    font-family: "Pretendard Variable", sans-serif;
    vertical-align: top;
    + .list-item {
      margin-left: 16px;
    }
    .text_rank {
      opacity: 0.3;
      font-size: 21px;
      font-weight: 900;
      line-height: 1;
      letter-spacing: -1.2px;
    }
    .box_thumnail {
      overflow: hidden;
      position: relative;
      width: 100%;
      margin-top: 12px;
      border-radius: 4px;
      background-size: 100% 100%;
      &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 100%;
      }
      &::after {
        opacity: 0.1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
        pointer-events: none;
        filter: contrast(80%);
      }
    }
    .image_poster {
      opacity: 0.9;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.2s ease-in-out;
      filter: grayscale(100%) contrast(65%);
      object-fit: cover;
    }
    .box_info {
      opacity: 0.8;
      margin-top: 12px;
      line-height: 1.25;
      white-space: wrap;
      .text_title {
        font-size: 17px;
        font-weight: 600;
        letter-spacing: -0.5px;
      }
      .text_title-eng {
        opacity: 0.8;
        margin-top: 3px;
        font-size: 14px;
      }
      .text_detail {
        margin-top: 12px;
        font-size: 13px;
        line-height: 1;
        .text_num {
          + .text_num {
            margin-left: 6px;
            padding-left: 6px;
            border-left: 1px solid #cecece;
          }
        }
      }
    }
    &:hover {
      .text_rank {
        opacity: 0.5;
      }
      .image_poster {
        opacity: 1;
        filter: grayscale(10%) contrast(95%);
      }
      .box_info {
        opacity: 1;
      }
    }
  }
}
