@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
a {
  text-decoration: inherit;
}
button,
label {
  cursor: pointer;
}
button {
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
}
.for-a11y,
.forA11y {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.material-symbols-outlined {
  line-height: inherit;
  vertical-align: top;
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--color-bg);
}
li {
  list-style: none;
}
#root {
  width: 100%;
  height: 100%;
}

:root {
  /* 🎬 기본 구조 색상 */
  --color-bg: #eceae8; /* 페이지 배경 (은은한 회색) */
  --color-line: #cccac5; /* 구분선용 연한 회색 */
  --color-line2: #969799; /* 구분선용 연한 회색 */
  --color-surface: #ebdcdf; /* 카드, 컨테이너 배경 */
  --color-white: #fff; /* 구분선용 연한 회색 */
  /* 🖤 텍스트 컬러 */
  --color-text-primary: #3e4149; /* 본문 텍스트 */
  --color-text-secondary: #636975; /* 부제, 날짜, Audience 등 */

  /* 💙 포인트 컬러 */
  --color-accent-rose: #b08a8f; /* 하이라이트용 (캘린더 날짜 등) */
  --color-accent-rose-light: rgba(176, 138, 138, 0.2);
  --color-accent-light: #e8ecff; /* hover or background용 */

  --color-overlay: rgba(0, 0, 0, 0.3);
  --color-overlay-light: rgba(255, 255, 255, 0.5);
}
